.graph {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-self: center;
    display: block;
    z-index: -1;
    background: grey;
}

.taskNode{
    background-color: white;
    padding: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.task {

}